.Banner2-contenedorGral {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 610px;
	background-color: #406df3;
}
.banner2contenido {
	display: flex;
	justify-content: center;
	gap: 64px;
	align-items: center;
	flex-direction: column;
}
.pregunta {
	text-align: center;
	width: 401px;
	height: 28px;
	color: #fff;
}
.card-contenedor {
	width: 1074px;
	height: 234px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 32px;
}
.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 342px;
	height: 234px;
	flex-direction: column;
	gap: 24px;
	text-align: center;
	border-radius: 6px;
	background-color: #fff;
	padding: 32px 12px 32px 12px;
}

.card-contenedor h3 {
	color: #1e1e1e;
	font-size: 24px;
	font-family: 'Roboto';
	font-weight: 500;
	word-wrap: break-word;
}
.card-contenedor p {
	width: 100%;
	height: 91px;
	color: #1e1e1e;
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 300;
	line-height: 20px;
	word-wrap: break-word;
}
.empiezaBtn {
	width: 302px;
	height: 44px;
	background-color: #99f5d1;
	border-radius: 4px;
	color: #1e1e1e;
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 700;
	text-transform: uppercase;
	word-wrap: break-word;
}
/* -------------------------------------------------------------- */
@media screen and (max-width: 768px) {
	.Banner2-contenedorGral {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 492px;
		background-color: #406df3;
		padding: 56px 32px 56px 32px;
	}
	.banner2contenido {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		gap: 64px;
		align-items: center;
		flex-direction: column;
	}
	.pregunta {
		display: flex;
		text-align: center;
		width: 281px;
		height: 20px;
		color: #fff;
		color: 'white';
		font-size: 24px;
		font-family: 'Roboto';
		font-weight: 500;
		word-wrap: break-word;
	}
	.card-contenedor {
		display: flex;
		width: 704px;
		height: 220px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
	}
	.card {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 218px;
		height: 220px;
		flex-direction: column;
		gap: 10px;
		text-align: center;
		border-radius: 6px;
		background-color: #fff;
		padding: 32px 12px 32px 12px;
	}
	.card > .rapidoImg {
		width: 49px;
		height: 32pc;
	}
	.card > .colaborativoImg {
		width: 55px;
		height: 32pc;
	}
	.card > .intuitivoImg {
		width: 32px;
		height: 32pc;
	}
	.card-contenedor h3 {
		color: #1e1e1e;
		font-size: 24px;
		font-family: 'Roboto';
		font-weight: 500;
		word-wrap: break-word;
	}
	.card-contenedor p {
		width: 202px;
		height: 91px;
		display: 100%;
		color: #1e1e1e;
		font-size: 16px;
		font-family: 'Roboto';
		font-weight: 300;
		line-height: 20px;
		word-wrap: break-word;
	}
	.empiezaBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 302px;
		height: 44px;
		background-color: #99f5d1;
		border-radius: 4px;
		padding: 16px;
		color: #1e1e1e;
		font-size: 16px;
		font-family: 'Roboto';
		font-weight: 700;
		text-transform: uppercase;
		word-wrap: break-word;
	}
}
/* --------------------------------------------------------- */
@media screen and (max-width: 300px) {
	.Banner2-contenedorGral {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 554px;
		background-color: #406df3;
		padding: 56px 32px 56px 32px;
	}
	.banner2contenido {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		gap: 64px;
		align-items: center;
		flex-direction: column;
	}
	.pregunta {
		display: flex;
		text-align: center;
		width: 281px;
		height: 20px;
		color: #fff;
		color: 'white';
		font-size: 24px;
		font-family: 'Roboto';
		font-weight: 500;
		word-wrap: break-word;
	}
	.card-contenedor {
		display: flex;
		width: 704px;
		height: 220px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
	}
	.card {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 218px;
		height: 220px;
		flex-direction: column;
		gap: 10px;
		text-align: center;
		border-radius: 6px;
		background-color: #fff;
		padding: 32px 12px 32px 12px;
	}
	.card > .rapidoImg {
		width: 49px;
		height: 32pc;
	}
	.card > .colaborativoImg {
		width: 55px;
		height: 32pc;
	}
	.card > .intuitivoImg {
		width: 32px;
		height: 32pc;
	}
	.card-contenedor h3 {
		color: #1e1e1e;
		font-size: 24px;
		font-family: 'Roboto';
		font-weight: 500;
		word-wrap: break-word;
	}
	.card-contenedor p {
		width: 202px;
		height: 91px;
		display: 100%;
		color: #1e1e1e;
		font-size: 16px;
		font-family: 'Roboto';
		font-weight: 300;
		line-height: 20px;
		word-wrap: break-word;
	}
	.empiezaBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 302px;
		height: 44px;
		background-color: #99f5d1;
		border-radius: 4px;
		padding: 16px;
		color: #1e1e1e;
		font-size: 16px;
		font-family: 'Roboto';
		font-weight: 700;
		text-transform: uppercase;
		word-wrap: break-word;
	}
}
