.banner-contenedorGral {
	width: 100%;
	height: 606px;
	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url('/images/fondo.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.banner-contenido {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1104px;
	height: 430px;
	padding: 48px;
}
.Contenedor-bannerImg {
	width: 45%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Contenedor-bannerImg img {
	width: 100%;
	height: 100%;
}
.contenedor-h2-p-button {
	width: 589px;
	height: 269px;
	display: flex;
	flex-direction: column;
	gap: 48px;
}
.subtitulo {
	color: #99f5d1;
	font-size: 44;
	font-family: 'Roboto';
	font-weight: 800;
	word-wrap: break-word;
	width: 569px;
	height: 83px;
	text-align: center;
}
.banner-txt {
	color: #fafbfc;
	font-size: 16;
	font-family: 'Roboto';
	font-weight: 400;
	line-height: 22px;
	word-wrap: break-word;
}
.descubre-btn {
	width: 144px;
	height: 35px;
	border-radius: 6px;
	color: #1e1e1e;
	font-size: 16;
	font-family: 'Roboto';
	font-weight: 700;
	word-wrap: break-word;
}
.btn-cont {
	width: 100%;
	height: 35px;
	display: flex;
	justify-content: flex-start;
}
@media screen and (max-width: 768px) {
	.banner-contenedorGral {
		width: 100%;
		height: 378px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('/images/fondo.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
	.banner-contenido {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 704px;
		height: 250px;
		padding: 48px;
	}
	.Contenedor-bannerImg {
		width: 45%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.Contenedor-bannerImg img {
		width: 100%;
		height: 100%;
	}
	.contenedor-h2-p-button {
		width: 414px;
		height: 237px;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
	.subtitulo {
		color: #99f5d1;
		font-size: 32;
		font-family: 'Roboto';
		font-weight: 800;
		word-wrap: break-word;
		width: 414px;
		height: 61px;
		text-align: center;
	}
	.banner-txt {
		color: #fafbfc;
		font-size: 16;
		font-family: 'Roboto';
		font-weight: 400;
		line-height: 22px;
		word-wrap: break-word;
	}
	.descubre-btn {
		width: 144px;
		height: 35px;
		border-radius: 6px;
		color: #1e1e1e;
		font-size: 16;
		font-family: 'Roboto';
		font-weight: 700;
		word-wrap: break-word;
		background-color: #fafbfc;
	}
	.btn-cont {
		width: 100%;
		height: 35px;
		display: flex;
		justify-content: start;
	}
}
/* ------------------------------------------------------------- */
@media screen and (max-width: 300px) {
	.banner-contenedorGral {
		width: 100%;
		height: 554px;
		display: grid;
		grid-template-rows: 3fr 1fr;
		gap: 24px;
		justify-content: center;
		align-items: center;
		background-image: url('/images/fondo.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
	.banner-contenido {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 490px;
		padding: 32px 12px 32px 12px;
	}
	.Contenedor-bannerImg {
		width: 45%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.Contenedor-bannerImg img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 276px;
		height: 159px;
		gap: 24px;
	}
	.contenedor-h2-p-button {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 224px;
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	.subtitulo {
		color: #99f5d1;
		text-align: center;
		font-size: 28;
		font-family: 'Roboto';
		font-weight: 800;
		word-wrap: break-word;
		width: 100%;
		height: 86px;
		text-align: center;
	}
	.banner-txt {
		width: 100%;
		height: 57px;
		color: #fafbfc;
		font-size: 12px;
		font-family: 'Roboto';
		font-weight: 400;
		line-height: 16px;
		word-wrap: break-word;
	}
	.descubre-btn {
		width: 116px;
		height: 33px;
		border-radius: 6px;
		color: #1e1e1e;
		font-size: 12px;
		font-family: 'Roboto';
		font-weight: 700;
		word-wrap: break-word;
		background-color: #fafbfc;
	}
	.btn-cont {
		width: 100%;
		height: 35px;
		display: flex;
		justify-content: start;
	}
}
