/* * {
	color: rgb(43, 226, 147);
} */

.nombre-proyecto {
	color: #1e1e1e;
	text-align: left;
	font: 500 24px 'Roboto-Medium', sans-serif;

	flex: 1;
}

.nombre-proyecto {
	color: #fafbfc;
	text-align: left;
	font: 700 16px 'Roboto-Bold', sans-serif;

	position: relative;

	align-self: stretch;
}

.piccon {
	background-size: cover;
}

.barra-lateral-tablero,
.barra-lateral-tablero * {
	box-sizing: border-box;
}
.barra-lateral-tablero {
	background: #42526e;

	display: flex;

	flex-direction: column;

	gap: 0px;

	align-items: flex-start;

	justify-content: flex-start;

	align-self: stretch;
	flex-shrink: 0;
	width: 349px;
	height: 100%;

	/* position: relative; */

	overflow: hidden;
}

.frame-736 {
	border-style: solid;

	border-color: #dfe1e6;

	border-width: 0px 0px 1px 0px;

	padding: 20px;

	display: flex;

	flex-direction: row;

	align-items: center;

	justify-content: space-between;

	align-self: stretch;
	flex-shrink: 0;

	/* position: relative; */
}

.nombre-del-proyecto-en-el-caso-de-ser-mas-largo-se-acorta-ahi {
	color: #fafbfc;
	text-align: left;
	font-family: 'Roboto-Bold', sans-serif;

	font-size: 24px;

	font-weight: 700;

	/* position: relative; */

	width: 249px;
}

.icono-config {
	flex-shrink: 0;
	width: 20px;
	height: 20px;

	/* position: relative; */

	overflow: visible;
}

.frame-737 {
	border-style: solid;

	border-color: #dfe1e6;

	border-width: 0px 0px 1px 0px;

	padding: 24px 20px 24px 20px;

	display: flex;

	flex-direction: column;
	height: 100%;
	gap: 24px;

	align-items: flex-start;

	justify-content: flex-start;

	align-self: stretch;
	flex: 1;

	/* position: relative; */
}

.frame-748 {
	display: flex;

	flex-direction: column;

	gap: 12px;

	align-items: flex-start;

	justify-content: flex-start;

	align-self: stretch;
	flex-shrink: 0;

	/* position: relative; */
}

.seccion-tablero {
	display: flex;

	flex-direction: row;

	gap: 8px;

	align-items: center;

	justify-content: flex-start;

	align-self: stretch;
	flex-shrink: 0;

	/* position: relative; */
}

.frame-739 {
	display: flex;

	flex-direction: column;

	gap: 10px;

	align-items: center;

	justify-content: center;

	flex-shrink: 0;
	width: 16px;
	height: 17px;

	/* position: relative; */

	overflow: visible;
}

.canales-comunicaci-n {
	color: #fafbfc;
	text-align: left;
	font-family: 'Roboto-Medium', sans-serif;

	font-size: 20px;

	font-weight: 500;

	/* position: relative; */

	flex: 1;
}

.frame-749 {
	display: flex;

	flex-direction: column;

	gap: 0px;

	align-items: flex-start;

	justify-content: flex-start;

	align-self: stretch;
	flex-shrink: 0;

	/* position: relative; */
}

.canales-tablero-agregar {
	border-radius: 8px;
	padding: 12px 24px 12px 24px;

	display: flex;

	flex-direction: row;

	gap: 12px;

	align-items: center;

	justify-content: flex-start;

	align-self: stretch;
	flex-shrink: 0;
	height: 40px;

	/* position: relative; */
}

.icono-chat {
	flex-shrink: 0;
	width: 16px;
	height: 14.77px;

	/* position: relative; */

	/* transform: translate(-16px, 0px); */

	overflow: visible;
}

.nombre {
	color: #fafbfc;
	text-align: left;
	font-family: 'Roboto-Regular', sans-serif;

	font-size: 20px;

	font-weight: 400;

	/* position: relative; */

	flex: 1;
}

.canales-tablero-agregar2 {
	border-radius: 8px;
	padding: 12px 24px 12px 24px;

	display: flex;

	flex-direction: row;

	gap: 12px;

	align-items: center;

	justify-content: flex-start;

	align-self: stretch;
	flex-shrink: 0;

	/* position: relative; */
}

.icono-agregar {
	flex-shrink: 0;
	width: 16px;
	height: 16px;

	/* position: relative; */

	overflow: visible;
}

.frame-738 {
	padding: 24px 20px 24px 20px;
	height: 100%;
	display: flex;

	flex-direction: column;

	gap: 24px;

	align-items: flex-start;

	justify-content: flex-start;

	align-self: stretch;
	flex: 1;

	/* position: relative; */
}

.frame-7492 {
	display: flex;

	flex-direction: column;

	gap: 12px;

	align-items: flex-start;

	justify-content: flex-start;

	align-self: stretch;
	flex-shrink: 0;
	/*    
           position: relative; */
}

.frame-7392 {
	display: flex;

	flex-direction: column;

	gap: 10px;

	align-items: center;

	justify-content: center;

	flex-shrink: 0;
	width: 16px;
	height: 17px;

	/* position: relative; */

	overflow: visible;
}

.icono-tablero {
	flex-shrink: 0;
	width: 16px;
	height: 14px;
	/*    
           position: relative; */

	overflow: visible;
}

.icono-agregar2 {
	flex-shrink: 0;
	width: 16px;
	height: 16px;

	/* position: relative; */

	overflow: visible;
}

.vector,
.vector * {
	box-sizing: border-box;
}
.vector {
	border-radius: 0px;
	flex-shrink: 0;
	width: 16px;
	height: 10px;

	/* position: relative; */

	overflow: visible;
}

* {
	margin: 0px;
	padding: 0px;
}

@media screen and (max-width: 568px) {
	#sidebar {
		position: fixed;
		/*   width: 200px;
    height: 100%; */
		height: 100%;
		background: #187bdf;
		left: -349px;
		transition: all 500ms linear;
	}

	.frame-766,
	.frame-766 * {
		box-sizing: border-box;
	}
	.frame-766 {
		background: #42526e;
		border-radius: 0px 12px 12px 0px;
		padding: 0px;
		margin-left: -60px;

		display: flex;

		flex-direction: column;

		align-items: flex-start;

		width: 24px;
		height: 32px;

		overflow: hidden;
	}
}
#sidebar.activos {
	left: 0px;
	background: #18df43;
}

/*  #sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    text-align: center;
  } */

/*   .logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto; 
  }
   */
#sidebar .toggle-btn {
	position: absolute;
	left: 409px;
	top: 20px;
	cursor: pointer;
}

#sidebar .toggle-btn span {
	display: block;
	width: 40px;
	text-align: center;
	font-size: 30px;
	border: 3px solid #000;
}

/*   .frame-766, .frame-766 * {
    box-sizing: border-box;
    }
.frame-766 {
   background: #42526e;
   border-radius: 0px 12px 12px 0px;
   padding: 0px 2px 0px 2px;
   
           display: flex;
   
           flex-direction: column;
   
           
           align-items: flex-start;
   
           justify-content: space-between;
   
           
       flex-shrink: 0;
   width: 24px;
    height: 32px;
   
           position: relative;
   
       overflow: hidden;
   } */

.frame-739 {
	display: flex;

	flex-direction: column;

	gap: 10px;

	align-items: center;

	justify-content: center;

	flex-shrink: 0;
	width: 16px;
	height: 17px;

	position: relative;

	transform: translate(0px, -16px);

	overflow: visible;
}

.vector2,
.vector2 * {
	box-sizing: border-box;
}
.vector2 {
	border-radius: 0px;
	flex-shrink: 0;
	width: 16px;
	height: 10px;
	margin: auto;

	overflow: visible;
}
