.letra {
	color: #1e1e1e;
}

@media (max-width: 768px) {
	.containercards {
		width: 100%;
		margin: auto;
	}
}

.marcoactivity,
.marco-activity * {
	box-sizing: border-box;
}

.marcoactivity {
	background: #9ea7b5;
	padding: 32px 24px 32px 24px;
	border-bottom: none;

	max-width: 944px;
	height: 81px;

	display: flex;

	flex-direction: row;

	gap: 10px;

	align-items: center;
	border-style: solid;
	border-color: #6e7787;
	justify-content: flex-start;
	border-radius: 8px 8px 0px 0px;
	margin: auto;

	align-self: stretch;
	flex-shrink: 0;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
	/* border: 22px solid rgba(66, 82, 110, 0.75); */
}

.containercards,
.containercards * {
	box-sizing: border-box;
}

.containercards {
	background: #fff;
	/* border-color: #5693ff; */
	padding: 16px 24px 16px 24px;
	max-width: 944px;
	height: auto;
	/* box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.50); */
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);

	border-style: solid;
	border-color: rgba(0, 0, 0, 0.5);
	display: flex;

	flex-direction: row;

	align-items: center;

	justify-content: space-between;
	margin: auto;
	flex-wrap: wrap;
	align-self: stretch;
	flex-shrink: 0;
	border-radius: 0px 0px 8px 8px;
}
/* @media (max-width: 500px) {
	.containerall {
		visibility: hidden;
	}
}
 */
