.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.75rem;
	gap: 0.75rem;
}

.write_message_input {
	border-radius: 0.25rem;
	border: 2px solid var(--grey);
	min-width: 100%;
	height: 2.75rem;
	padding: 0.75rem 1rem;
}

.menu {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.menu svg {
	margin: 0.4rem;
	cursor: pointer;
}
