.container {
	width: 510px;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: absolute;
	bottom: 93px;
	left: 0;
	background-color: var(--white);
	font-size: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	cursor: pointer;
}
.container span {
	display: inline-block;
}

.container span:hover {
	cursor: pointer;
	background-color: #ebebeb;
}

@media screen and (max-width: 550px) {
	.container {
		width: 100%;
	}
}
