@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
:root {
	--black: #1e1e1e;
	--white: #fafbfc;
	--dark-grey: #97a0af;
	--grey: #dfe1e6;
	--dark-blue: #42526e;
	--blue: #0052cc;
	--light-blue: #406df3;
	--mazarine-blue: #0046af;
	--light-green: #99f5d1;
	--red: #fc4d4d;
	--pink: #ff8686;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: var(--dark-blue);
}
a {
	text-decoration: none;
	color: var(--blue);
}
a:hover {
	color: var(--mazarine-blue);
}

/* Centered container */
.container {
	max-width: 944px;
	margin: 0 auto;
}

/* Full width container*/
.container-fluid {
	width: 100%;
	margin: 0 auto;
}

@media screen and (max-width: 576px) {
	.container {
		margin: 0 4%;
	}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
	.container {
		margin: 0 6%;
	}
}

@media screen and (min-width: 576px) and (max-width: 944px) {
	.container {
		margin: 0 8%;
	}
}

@media screen and (min-width: 944px) and (max-width: 1200px) {
	.container {
		margin: 0 10%;
	}
}
