@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
:root {
	--black: #1e1e1e;
	--white: #fafbfc;
	--dark-grey: #97a0af;
	--grey: #dfe1e6;
	--dark-blue: #42526e;
	--blue: #0052cc;
	--light-blue: #406df3;
	--mazarine-blue: #0046af;
	--bright-blue: #1052b4;
	--gray-blue: #7da7e4;
	--bright-green: #cbfae6;
	--dark-green: #84cdb9;
	--light-green: #99f5d1;
	--red: #fc4d4d;
	--pink: #ff8686;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: var(--dark-blue);
}

a {
	text-decoration: none;
	color: var(--blue);
}

a:hover {
	color: var(--mazarine-blue);
}

.white-link a {
	color: var(--white);
}

.white-link a:hover {
	color: var(--light-blue);
}

/* Centered container */
.container {
	max-width: 944px;
	margin: 0 auto;
}

/* Full width container*/
.container-fluid {
	width: 100%;
	margin: 0 auto;
}

.scrollbar-div::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.scrollbar-div::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

.scrollbar-div::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	background-color: #394558;
}

@media screen and (max-width: 576px) {
	.container {
		margin: 0 4%;
	}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
	.container {
		margin: 0 6%;
	}
}

@media screen and (min-width: 576px) and (max-width: 944px) {
	.container {
		margin: 0 8%;
	}
}

@media screen and (min-width: 944px) and (max-width: 1200px) {
	.container {
		margin: 0 10%;
	}
}
