.container_login {
	background-image: url('/images/background-login.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.container_form {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex-wrap: nowrap;
	width: 100%;
	max-width: 462px;
	background-color: var(--white);
	padding: 2rem 3rem;
	gap: 2.2rem;
	border-radius: 4px;
	background: var(--white);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
	justify-content: center;
}

.container_logo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.img_logo {
	width: 2rem;
	height: auto;
}

.text_logo {
	font-size: 2rem;
	padding: 0 1rem;
	font-family: 'Nunito', sans-serif;
}

.subtitle {
	font-size: 1.2rem;
	font-weight: 500;
}

.container_inputs {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.container_form .container_inputs input {
	padding: 0.8rem 0.6rem;
	border: 2px solid var(--grey);
	border-radius: 4px;
	width: 100%;
	height: 3rem;
}
.container_form .container_inputs input::placeholder {
	color: var(--black);
}

.container_form .container_inputs .error_input {
	border: 1px solid var(--red);
}

.container_form .container_inputs .error_message {
	display: flex;
	align-self: flex-start;
	color: var(--red);
	font-size: 0.8rem;
	padding: 2px 4px;
}

.error_login {
	color: var(--red);
	padding: 2px 4px;
}
.container_form > hr {
	border: none;
	height: 1px;
	background-color: var(--dark-grey);
	margin: 20px 0;
}

.container_form > .container_buttons {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.container_form > .container_buttons > .blue_button {
	background-color: var(--blue);
	color: var(--white);
	height: 44px;
	border-radius: 4px;
	padding: 0.8rem 0.6rem;
	cursor: pointer;
	border: none;
}

.container_form > .container_buttons > .blue_button:hover {
	background-color: var(--mazarine-blue);
}

.container_form > .container_buttons > .divider {
	display: flex;
	align-items: center;
	color: var(--dark-grey);
}

.container_form > .container_buttons > .divider hr {
	flex-grow: 1;
	border: none;
	height: 1px;
	background-color: var(--dark-grey);
}

.container_form > .container_buttons > .divider span {
	margin: 0 1rem;
}

.container_form > .container_buttons > .google_button {
	padding: 0.6rem 0.4rem;
	background-color: var(--white);
	min-height: 44px;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	border: none;
	font-weight: 700;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;
	flex-wrap: wrap;
}

.container_form > .container_buttons > .google_button img {
	width: 1.5rem;
	height: auto;
}

.bottom_menu_container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.bottom_menu_container hr {
	border: none;
	height: 1px;
	background-color: var(--dark-grey);
}

.bottom_menu_container > .bottom_menu {
	display: flex;
	justify-content: space-around;
}

@media screen and (max-width: 300px) {
	.container_login {
		padding-left: 2%;
		padding-right: 2%;
	}
	.container_form {
		padding-left: 2%;
		padding-right: 2%;
	}
	.text_logo {
		font-size: 1.5rem;
	}
	.img_logo {
		width: 1.5rem;
	}
	.subtitle {
		font-size: 0.9rem;
	}
	.bottom_menu {
		flex-direction: column;
		gap: 0.4rem;
	}
	.bottom_menu > hr {
		display: none;
	}
}

@media screen and (min-width: 300px) and (max-width: 462px) {
	.container_login {
		padding-left: 7%;
		padding-right: 7%;
	}
	.container_form {
		padding-left: 7%;
		padding-right: 7%;
	}
}
