.nav-gral {
	width: 100%;
	height: 67px;
	background-color: #1e1e1e;
	color: #fff;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 1100px;
	height: 35px;
	padding: 16px 48px;
	gap: 48px;
}

/* Logo (TRACK + IMG) */
.track {
	display: flex;
	justify-content: start;
	gap: 16px;
	width: auto;
	height: auto;
	position: relative;
	right: 48px;
}

.title {
	padding: 6px;
}

/* DROPDOWNS Y CREAR */
.dropdowns {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 426px;
	height: 35px;
	gap: 32px;
	position: relative;
	right: 140px;
	background: transparent;
}

.dd-title-proyect,
.dd-title-recent {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.dd-title-proyect:hover,
.dd-title-recent:hover {
	color: #fafbfc;
}

.dd-option-proyect,
.dd-option-recent {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #1e1e1e;
	border-radius: 4px;
	list-style: none;
	padding: 8px 0;
}

.btn-create {
	color: #fafbfc;
	font-size: 20px;
	font-family: 'Roboto';
	font-weight: 500;
	word-wrap: break-word;
}

.create {
	text-decoration: none;
	list-style: none;
	color: #fafbfc;
}

.create:hover {
	color: #fafbfc;
	border-bottom: 2px solid #fafbfc;
}

.logo-user {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 70px;
}

.logo-usuario img {
	object-fit: contain;
}

.proyect-cont {
	display: flex;
	justify-content: space-evenly;
	gap: 48px;
}
/* ------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
	.nav-gral {
		width: 100%;
		height: 59px;
	}

	.nav-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* Logo (TRACK + IMG) */
	.track {
		font-size: 20px;
		font-weight: 500;
		word-wrap: break-word;
		color: #fafbfc;
	}
	.track img {
		width: 36px;
		height: 40px;
	}

	.title {
		font-size: 24px;
	}

	/* DROPDOWNS Y CREAR */
	.dropdowns {
		width: 334px;
		height: 28px;
		justify-content: center;
		align-items: center;
		position: relative;
		right: 30px;
	}
	.btn-create {
		font-size: 16px;
	}

	.logo-user {
		position: relative;
		left: 20px;
	}
}
