.container_password_input {
	position: relative;
}

.container_password_input > .toggle_password {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.container_password_input > .toggle_password > img {
	width: 1.4rem;
	height: auto;
}
