.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 460px;
    background: var(--dark-blue);
    color: var(--white);
    padding: 12px 24px;
    border-radius: 12px;
    gap: 32px;
}

.close_button {
    position: absolute;
    top: 10px;
    right: 20px;
    background: transparent;
    color: var(--white);
    border: none;
    cursor: pointer;
}

.close_button svg {
    width: 1.5rem;
    height: 1.5rem;
}

.title_section_modal, .description_section_modal, .checklist_section_modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title h4 {
    font-size: 1rem;
    font-weight: 700;
}

.title_section_modal span {
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
}

.description_section_modal textarea {
    background: transparent;
    color: white;
    height: 130px;
    padding: 8px;
    border: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

.description_section_modal textarea:focus-visible {
    outline: none;
}

.check_input {
    display: flex;
    gap: 0.75rem;
}

.addcheck {
    display: flex;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.check_input input {
    background: transparent;
    color: var(--white);
    padding: 1px 2px;
    border: 1px solid white ;
}

.check_input input::placeholder {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

.check_input input:focus-visible {
    outline: none;
}

.check_input svg {
    cursor: pointer;
}

.checklist {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checklist_item {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.checkbox_text {
    display: flex;
    gap: 6px;
}

.btn_trash {
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn_trash svg {
    width: 1rem;
    height: 1rem;
    color: white;
}

.group_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.group_buttons button {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn_save {
    background-color: var(--black);
    color: var(--white);
}

.btn_delete {
    background-color: var(--pink);
    color: var(--black);
}

@media screen and (width <= 560px) {
    .modal {
        width: 275px;
        padding: 10px;
        gap: 20px;
    }
}

@media screen and (width <= 320px) {
    .modal {
        width: 195px;
        padding: 8px;
        gap: 15px;
    }
}