.container_register {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('/images/background-img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding: 4.063rem 0;
}

.card_register {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 5rem;
	background-color: var(--white);
	border-radius: 4px;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

.logo {
	width: 127px;
	height: 35px;
}

.form_register {
	display: flex;
	flex-direction: column;
	width: 302px;
	min-width: 100%;
	margin-top: 2.25rem;
}

.title {
	text-align: center;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 2.25rem;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

.boxInput {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	width: 100%;
	background-color: var(--white);
	padding: 1rem 0.75rem;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	border-radius: 4px;
	border: 2px solid var(--grey);
	transition: border-image 0.3s ease;
}

.input::placeholder {
	color: var(--black);
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

.input:focus-visible {
	outline: none;
	border: 2px solid transparent;
	border-image: linear-gradient(to top, #9bf9cf, #3d69f3);
	border-image-slice: 1;
	border-radius: 4px;
}

.error {
	border: 2px solid var(--red);
}

.errorMessage {
	color: var(--red);
	font-size: 0.75rem;
	margin-bottom: 0.313rem;
}

.eyeicon {
	position: absolute;
	right: 1rem;
	cursor: pointer;
	z-index: 1;
}

.button {
	margin-top: 2.25rem;
	padding: 1rem 0.75rem;
	background-color: var(--blue);
	color: var(--white);
	border-radius: 4px;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	line-height: normal;
	cursor: pointer;
}

.button:hover {
	background-color: var(--mazarine-blue);
}

.boxDivider {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
	color: var(--dark-grey);
	gap: 1rem;
}

.divider {
	width: 110px;
	height: 0;
	border: 1px solid var(--dark-grey);
}

.btnGoogle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 2.25rem;
	padding: 1rem 0.75rem;
	border-radius: 4px;
	background-color: var(--white);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
	color: var(--black);
	border: none;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: normal;
	font-weight: bold;
	gap: 0.75rem;
}

.hr {
	width: 100%;
	margin-bottom: 2rem;
}

.loginLink {
	text-align: center;
	text-decoration: none;
}

/* Responsive */

/* Tablet */

@media screen and (width <= 768px) {
	.container {
		padding: 1.875rem 0;
	}

	.card {
		padding: 1.875rem 3.438rem;
	}
}

/* Mobile */

@media screen and (width <= 480px) {
	.container {
		padding: 4.063rem 1rem;
	}

	.card {
		padding: 1.25rem 1.438rem;
	}
}
