.listBoard {
	display: flex;
	flex-direction: column;
	position: relative;
	max-height: 27rem;
	margin: 0 0.5rem;
	/* overflow-y: auto; */
	width: 15rem;
	padding: 0.5rem;
	border-radius: 0.75rem;
	border-top: 4px solid var(--red);
	box-shadow: 0px 0px 4px 0px var(--dark-grey);
	background-color: #fafbfc;
}

.headerList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
	padding-bottom: 1rem;
	position: relative;
}

.listName {
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
}

.points {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuDelete {
	position: absolute;
	top: 1.5rem;
	right: 0;
	background-color: var(--dark-blue);
	color: var(--white);
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 0.5rem;
	cursor: pointer;
	z-index: 100;
}

/*Add List*/
.addList {
	display: flex;
	align-items: center;
	width: 15rem;
	margin-right: 0.75rem;
	padding: 0.5rem 0.75rem;
	height: fit-content;
	gap: 0.5rem;
	border-radius: 0.25rem;
	box-shadow: 0px 0px 4px 0px var(--dark-grey);
	background-color: var(--blue);
	cursor: pointer;
}

.labelAddlist {
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	color: var(--white);
}

/*Form add list*/
.enterName {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0.5rem;
	width: 15rem;
	height: fit-content;
	gap: 0.5rem;
	/* margin-left: 0.75rem; */
	border-radius: 0.5rem;
	border: 1px solid (--grey);
	box-shadow: 0px 0px 4px 0px var(--dark-grey);
	background-color: var(--white);
}

.inputName {
	padding: 0.5rem;
	height: fit-content;
	resize: none;
	outline: none;
	font-family: 'Roboto', sans-serif;
	border-radius: 0.5rem;
	border: 1px solid var(--grey);
	background-color: #eee;
}

.btnInput {
	padding: 0.5rem;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	border-radius: 0.5rem;
	color: var(--white);
	background-color: var(--blue);
}

/*New list*/
.newList {
	display: flex;
	/* margin-left: 0.75rem; */
}

.newListBoard {
	display: inline-flex;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
	gap: 0.75rem;
}

/*Icons*/
.threePoints {
	font-size: 1.5rem;
}

.plus {
	align-items: center;
	font-size: 0.5rem;
	color: var(--white);
}
