/*Card content*/
.cardEmpty {
	height: 10rem;
	display: flex;
	align-items: center;
	padding: 2rem 0rem;
	justify-content: center;
	text-align: center;
	font-size: 1.75rem;
	font-style: normal;
	font-weight: 400;
	color: var(--black);
	background-color: var(--white);
}

.card {
	/*Grid*/
	display: grid;
	grid-template-areas:
		'cardImage cardNameProject buttonGetInto'
		'cardImage members         buttonGetInto';
	grid-template-columns: auto 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 1rem 1.5rem;
	color: var(--black);
	background-color: var(--white);
	border-bottom: 4px solid #d9d9d9;
}

.cardImage {
	border-radius: 0.5rem;
	border-bottom: 4px solid var(--light-blue);
	object-fit: cover;
	grid-area: cardImage;
}

.cardNameProject {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.75rem;
	padding-left: 1.25rem;
	grid-area: cardNameProject;
}

.cardName {
	/*Grid*/
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
}

/*Members Content*/

.members {
	display: flex;
	padding-left: 1.25rem;
	align-items: center;
	gap: 3rem;
	grid-area: members;
}

.memberMap {
	width: 12rem;
	display: flex;
	gap: 0.5rem;
}

.memberCirculeImage {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.memberImage {
	border-radius: 50%;
	box-shadow: inset;
}

.numberMember {
	/*Grid*/
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	color: var(--dark-blue);
}

.projectOwner {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nameProjectOwner {
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	color: var(--black);
}

/*Buton*/
.buttonGetInto {
	display: flex;
	align-self: center;
	justify-self: end;
	padding: 0.75rem 1.25rem;
	cursor: pointer;
	border: none;
	border-radius: 0.25rem;
	font-size: 1rem;
	font-weight: 700;
	font-style: normal;
	background-color: var(--blue);
	color: var(--white);
	grid-area: buttonGetInto;
}

/*Icon*/
.iconUser {
	color: var(--black);
}

/*Media Querys*/
@media screen and (max-width: 730px) {
	.card {
		display: grid;
		grid-template-areas:
			'cardNameProject    cardNameProject'
			'cardImage          members'
			'cardImage          buttonGetInto';
		grid-template-columns: auto 1fr;
		grid-template-rows: repeat(3, auto);
		padding: 0.75rem 0.75rem;
	}

	.cardEmpty {
		font-size: 1rem;
		padding: 0rem 1.5rem;
	}

	.cardNameProject {
		grid-area: cardNameProject;
		padding-left: 0rem;
		padding-bottom: 0.75rem;
		gap: 0.75rem;
	}

	.cardName {
		font-size: 1rem;
	}

	.iconUser {
		width: 0.75rem;
	}

	.nameProjectOwner {
		font-size: 0.75rem;
	}

	.cardImage {
		grid-area: cardImage;
		display: flex;
		align-self: center;
	}

	.cardImage {
		width: 9.375rem;
		height: 6rem;
	}

	/*Members*/
	.members {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 0rem;
		gap: 0rem;
		flex-wrap: wrap;
	}

	.memberMap {
		grid-area: memberMap;
		display: flex;
		justify-content: center;
	}

	.numberMember {
		grid-area: numberMember;
		font-size: 0.75rem;
	}

	.buttonGetInto {
		grid-area: buttonGetInto;
		display: flex;
		justify-self: center;
		padding: 0.75rem 1rem;
		font-size: 0.75rem;
	}
}
