/* Shape Project */
.project {
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	border: 4px solid var(--bright-blue);
}

.projectGuest {
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	border: 4px solid var(--dark-green);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 1.5rem;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 500;
	border-top-right-radius: 0.2rem;
	border-top-left-radius: 0.2rem;
	color: var(--black);
	background-color: var(--gray-blue);
}

.headerGuest {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 1.5rem;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 500;
	border-top-right-radius: 0.2rem;
	border-top-left-radius: 0.2rem;
	color: var(--black);
	background-color: var(--bright-green);
}

.footer {
	display: flex;
	justify-content: center;
	padding: 1.25rem 0;
	cursor: pointer;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	gap: 0.75rem;
	border: none;
	border-bottom-right-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
	color: var(--blue);
	background-color: var(--white);
}

.projectOwner {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nameProjectOwner {
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	color: var(--black);
}

/* Card */
.cardEmpty {
	height: 10rem;
	display: flex;
	align-items: center;
	padding: 2rem 2rem;
	justify-content: center;
	text-align: center;
	font-size: 1.75rem;
	font-style: normal;
	font-weight: 400;
	color: var(--black);
	background-color: var(--white);
}

.card {
	display: flex;
	padding: 1rem 1.5rem;
	gap: 0.75rem;
	color: var(--black);
	background-color: var(--white);
	border-bottom: 4px solid #d9d9d9;
}

.cardImage {
	border-radius: 0.5rem;
	border-bottom: 4px solid var(--light-blue);
	object-fit: cover;
}

.cardContent {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.cardName {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
}

/*Members*/
.memberContent {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.members {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
}

.memberMap {
	width: 12rem;
	display: flex;
	gap: 0.5rem;
}

.memberCirculeImage {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.memberImage {
	border-radius: 50%;
	box-shadow: inset;
}

.numberMember {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	color: var(--dark-blue);
}

/*Buttons*/
.buttonGetInto {
	display: flex;
	align-items: center;
	padding: 0.75rem 1.25rem;
	cursor: pointer;
	border: none;
	border-radius: 0.25rem;
	font-size: 1rem;
	font-weight: 700;
	font-style: normal;
	background-color: var(--blue);
	color: var(--white);
}

.buttonCreate {
	display: flex;
	align-items: center;
	padding: 0.75rem 1.25rem;
	cursor: pointer;
	border: none;
	border-radius: 0.25rem;
	font-size: 1rem;
	font-weight: 700;
	font-style: normal;
	background-color: var(--red);
	color: var(--white);
}

/*Icons*/
.iconArrow {
	color: var(--blue);
}

.iconUser {
	color: var(--black);
}
